[Unit]
Description=Payment App Django Backend
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/var/www/payment_app/backend
EnvironmentFile=/var/www/payment_app/backend/.env
ExecStart=/var/www/payment_app/backend/.venv/bin/gunicorn backend.wsgi:application --bind unix:/run/payment-backend.sock
Restart=always

[Install]
WantedBy=multi-user.target
